{% extends "users/base.html" %}

{% block title %}Rejestracja{% endblock %}

{% block content %}
<div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Rejestracja</legend>
                {{ form }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Zarejestruj</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Posiadasz już konto? <a class="ml-2" href="{% url 'login' %}">Zaloguj się!</a>
            </small>
        </div>
</div>
{% endblock content %}